######################################################################
# Build Tools

target/
!.mvn/wrapper/maven-wrapper.jar

######################################################################
# IDE

.idea/
*.iws
*.iml
*.ipr

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

######################################################################
# Runtime / logs

*.log
log/

######################################################################
# Others

*.swp
*~
