<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scminterface.customer.hengsuiThird.his.mapper.HisChargeFetchBatchSyncMapper">

    <insert id="insertFetchBatch">
        insert into his_charge_fetch_batch (
            id, tenant_id, charge_kind, window_start, window_end,
            inserted_count, skipped_count, drift_count, remark, create_by, create_time
        ) values (
            #{id}, #{tenantId}, #{chargeKind}, #{windowStart}, #{windowEnd},
            #{insertedCount}, #{skippedCount}, #{driftCount}, #{remark}, #{createBy}, #{createTime}
        )
    </insert>
</mapper>
