<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scminterface.customer.hengsuiThird.his.mapper.HisPatientChargeMirrorUnifiedSyncMapper">

    <insert id="insertBatch">
        insert into his_patient_charge_mirror_unified (
            id, tenant_id, visit_kind, fetch_batch_id,
            his_inpatient_charge_id, his_outpatient_charge_id, his_inpatient_charge_id_tf, his_outpatient_charge_id_tf,
            patient_id, patient_name, inpatient_no, outpatient_no,
            dept_code, dept_name, clinic_code, clinic_name, exec_dept_id, exec_dept_name,
            doctor_id, doctor_name, charge_item_id, item_name, spec_model, batch_no, expire_date,
            use_date, charge_date_display, charge_at,
            quantity, unit_price, total_amount, charge_operator, payment_type, receipt_no, remark, row_fingerprint,
            process_status, process_type, process_time, process_by, create_by, create_time
        ) values
        <foreach collection="list" item="e" separator=",">
            (#{e.id}, #{e.tenantId}, #{e.visitKind}, #{e.fetchBatchId},
            #{e.hisInpatientChargeId}, #{e.hisOutpatientChargeId}, #{e.hisInpatientChargeIdTf}, #{e.hisOutpatientChargeIdTf},
            #{e.patientId}, #{e.patientName}, #{e.inpatientNo}, #{e.outpatientNo},
            #{e.deptCode}, #{e.deptName}, #{e.clinicCode}, #{e.clinicName}, #{e.execDeptId}, #{e.execDeptName},
            #{e.doctorId}, #{e.doctorName}, #{e.chargeItemId}, #{e.itemName}, #{e.specModel}, #{e.batchNo}, #{e.expireDate},
            #{e.useDate}, #{e.chargeDateDisplay}, #{e.chargeAt},
            #{e.quantity}, #{e.unitPrice}, #{e.totalAmount}, #{e.chargeOperator}, #{e.paymentType}, #{e.receiptNo}, #{e.remark}, #{e.rowFingerprint},
            #{e.processStatus}, #{e.processType}, #{e.processTime}, #{e.processBy}, #{e.createBy}, #{e.createTime})
        </foreach>
    </insert>
</mapper>
